@charset "UTF-8";
/*
Btn

Helper for creating buttons. Prepares any element to styling as a button.

Markup: ../../../docs/examples/css_lib-helpers/btn/btn.html

Styleguide: css_lib.helpers.btn
*/
.btn {
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: inherit;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  background: none;
  border: 0;
  cursor: pointer;
}

.M0 {
  margin: 0px;
}

.D-f {
  display: flex;
}

.Fld-c {
  flex-direction: column;
}

.Ai-c {
  align-items: center;
}

.Jc-c {
  justify-content: center;
}

.H100vh {
  height: 100vh;
}

.Fnf-mUss {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.W100p {
  width: 100%;
}

.Mxw-gSm {
  max-width: 520px;
}

.Fls0 {
  flex-shrink: 0;
}

.Bgc-white {
  background-color: white;
}

.Bdrd3u {
  border-radius: 0.75rem;
}

.Bxsd0\;1\;3\;\#0005 {
  box-shadow: 0px 1px 3px #0005;
}

.Ai-fs {
  align-items: flex-start;
}

.Gap3u {
  gap: 0.75rem;
}

.P4u {
  padding: 1rem;
}

.-Sz13u {
  width: 3.25rem;
  height: 3.25rem;
}

.Bdrd100p {
  border-radius: 100%;
}

.Gap2u {
  gap: 0.5rem;
}

.C-gray350 {
  color: #161d24;
}

.Fnw-b {
  font-weight: bold;
}

.Txd {
  text-decoration: none;
}

.C-gray200 {
  color: #61686f;
}

.Txd-u_h:hover {
  text-decoration: underline;
}

.Ct-\'·\'_b::before {
  content: '·';
}

.Mr2u_b::before {
  margin-right: 0.5rem;
}

.C-ih {
  color: inherit;
}

.Mt2u {
  margin-top: 0.5rem;
}

.Mb0 {
  margin-bottom: 0px;
}

.C-blue50 {
  color: #498fdf;
}

.-All-sr {
  margin: 0;
  padding: 0;
  font: inherit;
  list-style: none;
  border: 0;
}

.Bdt1\;s\;gray50 {
  border-top: 1px solid #acb3ba;
}

.P2u\;4u\; {
  padding: 0.5rem 1rem;
}

.Jc-sb {
  justify-content: space-between;
}

.Gap1u {
  gap: 0.25rem;
}

.C-gray150 {
  color: #7a8188;
}

.C-blue50_h:hover {
  color: #498fdf;
}

.-D-vh {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
}

.C-green50_h:hover {
  color: #57e148;
}

.C-red50_h:hover {
  color: #e64343;
}

.Mt8r {
  margin-top: 8rem;
}

.Fns1\.4r {
  font-size: 1.4rem;
}

.Mxw-gLg {
  max-width: 992px;
}